<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="5">
  <test thread-count="5" name="Test">
  <classes>
  <class name="testPack.SGDClassOne"></class>
  <class name="testPack.SGDClassTwo"></class>
  <class name="testPack.SGDClassThree"></class>
  <class name="testPack.SGDClassFour"></class>
  <class name="testPack.SGDClassFive"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
